/* Add styles here */
body{font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    background-color:rgb(63, 130, 156);
    color: aliceblue;
    padding: 5px 20px 5px 20px;
    border: none;
    border-radius: 20px ;
}
